<div class="main_header">
  <div class="chat_room">
    <%= @room.name %>
  </div>
  <div class="chat_end">
    <a href="#">チャットを終了する</a>
  </div>
</div>
<div class="main_center">
  <%= render partial: 'message', collection: @messages %>
</div>
<div class="main_footer">
  <%= form_with model: [@room, @message], html: {class: "form"}, local: true do |f| %>
    <div class="form_input">
      <%= f.text_field :content, class: 'form_message', placeholder: 'type a message' %>
      <label class="form_image">
        <span class="image_file">画像</span>
        <%= f.file_field :image, class: 'hidden' %>
      </label>
    </div>
    <div class="form_submit">
      <%= f.submit '送信', class: 'form_submit' %>
    </div>
  <% end %>
</div>